<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">
            <h3>Thêm Danh Mục Sản Phẩm</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <form [formGroup]="formData" (ngSubmit)="addCategory()" class="category-form">

            <div class="mb-3">
                <label class="form-label">Name Category</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Enter name category" />
                <span *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                    Name category is required
                </span>
            </div>

            <button mat-raised-button color="primary" type="submit" [disabled]="formData.invalid"
                class="submit-btn">
                Thêm Danh Mục
            </button>
        </form>
    </mat-card-content>
</mat-card>