.container {
    width: 80%;  /* Kích thước chiếm 80% chiều rộng của màn hình */
    max-width: 1200px;  /* Chiều rộng tối đa */
    margin: 0 auto;  /* Canh giữa container */
    padding: 20px;  /* Khoảng cách bên trong */
    margin-top: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Canh giữa hoặc căn đều các phần tử */
  }
  .col-md-6 {
    flex: 0 0 48%; /* Mỗi phần tử chiếm khoảng 48% chiều rộng */
    margin-bottom: 16px; /* Khoảng cách giữa các phần tử */
  }
  .product-card-header{
    margin-top: 20px;
    margin-bottom: 1px;
  }
  .product-price{
    margin-top: 0px;
  }
  .button-add-to-cart{
    margin-right: 10px;
  }
  .product-price {
    font-weight: normal; /* Đảm bảo không có kiểu chữ đậm */
  }    
    .price-container {
        display: flex;
        align-items: center; /* Căn chỉnh nội dung giữa theo chiều dọc */
    }
    .product-code {
        margin-top: 5px; /* Thêm một chút khoảng cách trên để không dính vào tên sản phẩm */
        opacity: 0.6; /* Giảm độ sáng của mã sản phẩm */
        color: #999; /* Thay đổi màu sắc thành màu xám nhẹ để tạo hiệu ứng mờ */
        line-height: 1.2; /* Giảm khoảng cách giữa các dòng */
        margin-bottom: -30px;
}
      
/* Tùy chỉnh màu sắc cho từng số */
.shoes-toggle.black {
    background-color: black;
    color: white;
  }
  .shoes-toggle.blue {
    background-color: blue;
    color: white;
  }
  
  .shoes-toggle.green {
    background-color: green;
    color: white;
  }
  
  .shoes-toggle.red {
    background-color: red;
    color: white;
  }
  
  .shoes-toggle.yellow {
    background-color: yellow;
    color: black;
  }
  
  /* Khi nút toggle được chọn */
  .mat-button-toggle-checked {
    opacity: 0.8; /* Thêm hiệu ứng giảm sáng khi chọn */
  }
  .color-shoes{
    margin-top: 3px;
    margin-left: 10px;
  }
  
  