/* Container */
.container {
  width: 70%;  /* 80% width of the screen */
  max-width: 1000px;  /* Maximum width */
  margin: 0 auto;  /* Center the container */
  padding: 20px;  /* Padding inside */
  margin-top: 20px;
}
/* Định dạng chung cho container */
.product-image-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.product-info-card {
  border-radius: 12px;
}

.quantity-input {
  max-width: 120px;
  margin: 0;
}

.product-name {
  font-size: 1.75rem;
  font-weight: 600;
}

.form-check {
  margin-bottom: 0.3rem;
}
.hr{
  margin-bottom: -4px;
  margin-top: -2px;
}
