<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">
            <h3>Danh Sách Danh Mục</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="table-brand">
            <table class="brand-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên Danh Mục</th>
                        <th class="text-center">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sizes of size; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ sizes.size_label }}</td>
                        <td class="text-center">
                            <button mat-icon-button class="btn-edit" (click)="openEditDialog(sizes.id, sizes.size_label)" matTooltip="Chỉnh sửa">
                                <mat-icon>edit_square</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-delete" (click)="openDialog(sizes.id, sizes.size_label)"
                                matTooltip="Xoá thương hiệu">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>