<mat-card class="add-variant-card">
    <mat-card-header>
        <mat-card-title><h3>Thêm biến thể cho: {{ product?.name }}</h3></mat-card-title>
    </mat-card-header>

    <mat-card-content class="b-t-1">
        <form [formGroup]="form" (ngSubmit)="submit()" class="mt-4">
            <div class="row g-3">

                <!-- Size -->
                <div class="col-md-4">
                    <label for="size_id" class="form-label">Kích thước</label>
                    <select class="form-select" formControlName="size_id" id="size_id" required>
                        <option *ngFor="let size of sizes" [value]="size.id">
                            {{ size.size_label }}
                        </option>
                    </select>
                </div>

                <!-- Color -->
                <div class="col-md-4">
                    <label for="color_id" class="form-label">Màu sắc</label>
                    <select class="form-select" formControlName="color_id" id="color_id" required>
                        <option *ngFor="let color of colors" [value]="color.id">
                            {{ color.color_name }}
                            {{ color.color_code}}
                        </option>
                    </select>
                </div>

                <!-- Stock -->
                <div class="col-md-4">
                    <label for="stock" class="form-label">Tồn kho</label>
                    <input type="number" class="form-control" id="stock" formControlName="stock" min="0" required />
                </div>
            </div>

            <!-- Error Message From Backend -->
            <div *ngIf="errorMessage" class="text-danger mt-3">
                {{ errorMessage }}
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    Thêm biến thể
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
