<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">
            <h3>Danh Sách Sản Phẩm</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="table-brand">
            <table class="brand-table">
                <thead class="text-center">
                    <tr>
                        <th>#</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Hình Ảnh</th>
                        <th class="text-center">Thương Hiệu</th>
                        <th class="text-center">Danh Mục</th>
                        <th class="text-center">Kho</th>
                        <th class="text-center">Thao Tác</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>
                            <img [src]="product.image" alt="{{ product.name }}" class="brand-logo">
                        </td>
                        <td class="text-center">{{ product.brand?.name }}</td>
                        <td class="text-center">{{ product.category?.name }}</td>
                        <td class="text-center">{{ product.stock }}</td>
                        <td class="text-center">
                            <button mat-icon-button class="btn-details" matTooltip="Xem chi tiết">
                                <mat-icon>visibility_outlined</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-edit" matTooltip="Chỉnh sửa">
                                <mat-icon>edit_square</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-delete" matTooltip="Xoá thương hiệu">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>