.table-brand {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #673ab7;
    color: white;
    padding: 12px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  