<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">
            <h3>Danh Sách Người Dùng</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="table-product">
            <table class="table-product">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ account.name }}</td>
                        <td>{{ account.email }}</td>
                        <td>
                            {{ account.phone }}
                        </td>
                        <td>
                            <button mat-icon-button class="btn-details" matTooltip="Xem chi tiết">
                                <mat-icon>visibility_outlined</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-edit" matTooltip="Chỉnh sửa">
                                <mat-icon>edit_square</mat-icon>
                            </button>
                            <button mat-icon-button class="btn-delete" matTooltip="Xoá">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>