.auth-layout {
  height: 100vh;
  background-color: #f6f6f6; // ✅ nền sáng tổng thể
  padding: 2rem;
}

.bg-orange {
  background-color: #ff6600 !important;
}

.text-orange {
  color: #ff6600 !important;
}

.border-orange {
  border: 2px solid #ff6600 !important;
}

form {
  margin-top: 1.5rem;
}

mat-form-field {
  background: white;
}

.erros {
  color: #d32f2f;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 4px 0;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}

.reset-password{
  margin-top: 10px;
}
