.theme-card {
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  overflow: hidden;

  mat-card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    position: relative;

    mat-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
    }
    .total-amount {
      position: absolute;
      font-size: 20px;
      top: 24px;
      right: 24px;
      font-weight: 700;
      color: #ff4d4f; // đỏ cam nổi bật
      letter-spacing: 0.5px;
    }
  }

  mat-card-content {
    padding: 24px;

    .table-responsive {
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 15px;

      thead tr {
        background-color: #f1f1f1;
        font-weight: bold;
      }

      tbody tr {
        transition: background 0.2s ease-in-out;

        &:hover {
          background-color: #f9f9f9;
        }
      }

      th,
      td {
        padding: 12px 8px;
        vertical-align: middle;
      }

      img {
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      }
    }

    .rounded-circle {
      border-radius: 50%;
      border: 1px solid #ccc;
    }
  }

  .fw-bold {
    font-weight: bold;
  }

  .text-primary {
    color: #007bff;
  }

  .text-danger {
    color: #e74c3c;
  }

  .text-end {
    text-align: end;
  }
}
